.default-editor-window{
  display: grid;
  place-items: center;
  background-color: #262929;
  color:#FFFFFF;
  height: 100%;
  .empty-editor-wrapper{
    .empty-editor-text{
      font-family: Poppins;
      font-size: 16px;
    }
    .files-btn{
      font-size: 16px;
      margin-top: 10px;
      width: 120px;
    }
  }
}
.editor{
  position: relative;
  height: calc(100vh - 150px);
}
.editor-menu{
  width:100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.editor-menu button{
  background-color:rgb(79, 79, 194);
  color:white;
  width: 80px;
  height:40px;
  overflow: visible;
  z-index:100;
  margin: 1rem;
  outline: none;
  outline-style: none;
}
.editor-menu button:disabled{
  background-color: rgb(158, 158, 235);
}