.project-home{
  position: absolute;
  top:10%;
  display: grid;
  width:100%;
  height:90vh;
  grid-template-columns: [first] 20% [second] auto [third] 30% [end] ;
}
.files-list{
  user-select: none;
  grid-column:first/second;
  background-color: rgb(89, 100, 128);
}
.editor{
  grid-column:second/third;
  background-color:darkgray;
}
.console{
  grid-column:third/end;
}