.project-home{
  position: absolute;
  top:60px;
  display: grid;
  width:100%;
  height:calc(100vh - 60px);
  grid-template-columns: [first] 20% [second] auto [third] 30% [end] ;
  overflow: hidden;
}
.files-list{
  user-select: none;
  grid-column:first/second;
  background-color: rgb(89, 100, 128);
}
.editor{
  grid-column:second/third;
  background-color:darkgray;
}
.console{
  grid-column:third/end;
}
