.header{
  font-size: 20px;
  color:white;
  background-color: #03050A;
  height:60px;
  display:flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left{
  padding-left: 1rem;
  padding-top: .5rem;
  .lc-logo{
    user-select: none;
    width: 130px;
    height: 130px;
  }
}

.header-left a{
  text-decoration: none;
  color: inherit;
}

.header-right{
  padding:1rem;
  display: flex;
  justify-content: center;  
  align-items: baseline;
  .welcome-text{
    margin-right: 10px;
    font-size: 16px;
    font-family: Poppins;
  }
}
.auth-btn{
  margin-left: 1rem;
  text-transform: inherit !important;
  background-color: #123FBC !important;
  height: 32px;
  width: 80px;
  margin-right: 10px !important;
}
.logout-btn{
  color: red;
}