.auth{
  position: absolute;
  min-width: 400px;
  max-height:90%;
  min-height: 450px;
  border: 2px solid black;
  left:50%;
  right:50%;
  transform: translateX(-50%);
  top:20%;
  bottom:20%;
  font-family: Arial;
}
.toggle-btn{
  padding:.5rem;
  width:100%;
  border:none;
  font-size: 30px;
  height: 50px;
  border-radius: 0 !important;
}
