.auth-page{
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #131414;
}
.auth{
  position: absolute;
  min-width: 400px;
  max-height: 450px;
  height: fit-content;
  border: 2px solid rgb(85, 86, 88);
  left:50%;
  top: 20%;
  transform: translateX(-50%);
  font-family: Poppins;
}
.toggle-btn{
  padding:.5rem;
  width:100%;
  border:none;
  font-size: 30px;
  height: 50px;
  border-radius: 0 !important;
}
